@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #000000;
}

[data-theme='dark'] {
  --background: #000000;
  --foreground: #ffffff;
}

body {
  margin: 0;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

nav > div {
  padding: 5px 10px;
  flex: 1 1 30%;
  color: white;
}

nav > div > * {
  display: inline;
}

nav > div:nth-child(1) {
  text-align: left;
}

nav > div:nth-child(2) {
  text-align: center;
}

nav > div:nth-child(3) {
  text-align: right;
}

nav > .clock {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  color: white;
}

nav > .clock > * {
  font-size: 16px;
  padding: 0 7px;
}

@media (max-width: 600px) {
  /* Adjust the max-width as needed */
  .date {
    display: none;
  }
}

/* not-found */
.pixel-font {
  font-family: 'Press Start 2P', cursive;
  text-shadow: 2px 2px 0px #000;
}

.pixel-ground {
  box-shadow: 0 2px 0 #2d3748;
}

/* loading */
@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.pixel-font {
  font-family: 'Press Start 2P', cursive;
  text-shadow: 2px 2px 0px #000;
}

.animate-loading {
  animation: bounce 0.8s infinite;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animate-fade-in {
  animation: fade-in 2s ease-in-out infinite alternate;
}

/* scroll custom */

/* 커스텀 스크롤 클래스 */
.scroll-custom {
  width: 100%;
  height: calc(100vh - (64px + 56px));
  overflow: auto;
}

/* 스크롤바의 전체적인 스타일 */
.scroll-custom::-webkit-scrollbar {
  width: 8px;
  height: 10px;
}

/* 스크롤바의 배경색 */
.scroll-custom::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

/* 스크롤바의 썸 (사용자가 드래그하는 부분) */
.scroll-custom::-webkit-scrollbar-thumb {
  background-color: rgba(141, 141, 141, 0.5);
  border-radius: 10px; /* 둥근 모서리 */
}

/* 스크롤바 썸의 hover 상태 */
.scroll-custom::-webkit-scrollbar-thumb:hover {
  background-color: rgba(128, 128, 128, 1);
}

.scroll-custom::-webkit-scrollbar-horizontal {
  height: 8px; /* 가로 스크롤바의 높이 */
}

/* card animation */
.perspective-1000 {
  perspective: 1000px;
}

.transform-style-preserve-3d {
  transform-style: preserve-3d;
}

.backface-hidden {
  backface-visibility: hidden;
}

.rotate-y-180 {
  transform: rotateY(180deg);
}

.selected {
  overflow: hidden;
}

.selected::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
  background: #ffd48546;
  z-index: 999;
  pointer-events: none;
}

@keyframes sparkle {
  0% {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.3);
  }
  25% {
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.7), 0 0 25px rgba(255, 255, 255, 0.5);
  }
  50% {
    box-shadow: 0 0 20px rgba(255, 255, 255, 1), 0 0 30px rgba(255, 255, 255, 0.7);
  }
  75% {
    box-shadow: 0 0 25px rgba(255, 255, 255, 0.7), 0 0 35px rgba(255, 255, 255, 0.5);
  }
  100% {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.3);
  }
}

@keyframes shimmer {
  0% {
    transform: translate(-50%, -50%); /* 왼쪽에서 오른쪽으로 시작 */
  }
  100% {
    transform: translate(100%, 100%); /* 오른쪽 끝으로 이동 */
  }
}

.color-rose {
  color: #fb7185;
}

.color-lime {
  color: #65a30d;
}

.color-sky {
  color: #0ea5e9;
}

.color-indigo {
  color: #818cf8;
}

.color-green {
  color: #4ade80;
}

.color-blue {
  color: #60a5fa;
}

/* 커스텀 스크롤바 스타일 - globals.css 파일에 추가 */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(156, 163, 175, 0.3);
  border-radius: 20px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: rgba(156, 163, 175, 0.5);
}

/* 다크모드 스크롤바 */
.dark .custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(156, 163, 175, 0.2);
}

.dark .custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: rgba(156, 163, 175, 0.4);
}
